{% extends 'base.html.twig' %}

{% block body %}
    <h1>BD</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bD.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bD.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bD.description }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{% if bD.dispo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bd_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bd_edit', { 'id': bD.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
