<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to my blog!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/design.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        <div class="container">
             
        {% block header %}<div class="text-center">
        <a href="{{ path('article_index')}}" ><img src="{{ asset('bundles/framework/images/blog.jpg')}}" alt=""></a>{% endblock %}
            </div>

        {% block menu %}
        <aside class="col-md-3">
            <menu class="menu">
                <ul>
                    
                <li><a href="{{ path('article_index')}}" >Home - All Articles</a></li>
                <li><a href="{{ path('article_new')}}" >Ajouter an article</a></li>
                <li><a href="{{ path('categorie_index')}}" >Catégorie</a></li>
                <li><a href="{{ path('commentaire_index')}}" >Commentaire</a></li>
                <li><a href="{{ path('image_index')}}" >image</a></li>
                </ul>
            </menu>
        </aside>
        {% endblock %}
        <main class="col-md-9">
        {% block body %}{% endblock %}
        
        </main>
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
