<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to my blog!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/design.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        <div class="container">
             
        {% block header %}<a href="{{ path('imie_blog_index')}}"><img src="{{ asset('bundles/framework/images/blog.jpg')}}" alt=""></a>{% endblock %}

        {% block menu %}
        <aside>
        <menu class="menu">
            <ul>
                
            <li><a href="{{ path('imie_blog_index')}}" >Home</a></li>
            <li><a href="{{ path('imie_blog_ajouter')}}" >Ajouter an article</a></li>
            </ul>
        </menu>
        </aside>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
